body {
	margin: 0px;
	padding: 0;
	color: #616161;
}

h1, h2, h3 {
	margin-top: 0;
}

h1 {
	font-size: 1.6em;
	font-weight: normal;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1em;
	margin-top:20px;
}

ul {
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a img {
	border: none;
}

img.left {
	float: left;
	margin: 0 20px 0 0;
}

img.right {
	float: right;
	margin: 0 0 0 20px;
}

/* Header */
#header {
    padding: 4px 0px;
    height: 50px;
    position: relative;
}

#logo {
	position:absolute;
    text-align: left;
    font-size: x-large;
    top: 15px;
    left:20px;
}

/* Menu */
#menu {
    position: absolute;
    top:25px;
    right:15px;
	padding: 0;
	height: 59px;
    overflow: hidden;
}

#menu ul {
	margin: 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu li a {
	display: block;
	float: left;
	height: 42px;
	margin: 0;
	padding: 18px 40px 0 40px;
	text-decoration: none;
	font-size: 20px;
}

#menu li a:hover {
	text-decoration: underline;
}

#globalthemeswitcher {
    position:absolute;
    top:28px;
    right:30px;
}

#top_down_right{
	position:absolute;
    top:5px;
    right:31px;
}
/* Page */
#page {
	padding: 1px 0px;
	background: #FFFFFF;
}

/* Content */
#content {
	width: 70%;
    float:left;
}

.post {
	padding-bottom: 15px;
}

.post h1 {
	font-weight: normal;
}

.title {
	height: 30px;
	margin-left: 10px;
	padding: 8px 0 0 20px;
}

.title a {
	border-bottom: none;
	color: #FFFFFF;
}

.title a:hover {
	border-bottom: 1px dotted #000000;
}

.submenu-title {
    padding: 4px 10px;
}

.submenu-content {
    text-align:center;
}

.byline {
	margin: -60px 20px 20px 20px;
}

.byline a {
	color: #DC8700;
}

.tag {
	padding: 0 15px;
}

.entry {
	padding: 0 20px;
}

.entry p {
	line-height: 200%;
}

.links {
	padding: 4px 0px;
	text-align: right;
	font-weight: bold;
}

.links a {
	border: none;
}

.links a:hover {
}

#sidebar {
	float: left;
	width: 25%;
	padding: 0 10px;
	margin-left: -1px;
    overflow: hidden;
}

#sidebar a.ui-state-hover, 
#sidebar a.ui-state-highlight {
    border:0 none;
    text-decoration: none;
    font-weight: normal;
}

#sidebar table {
    width: 100%;
}

#sidebar table td {
    vertical-align: top;
}

#sidebar ul {
    padding: 0;
    margin: 0;
}

#sidebar ul li {
    list-style-type: none;
    padding: 1px;
}

/* Footer */
#footer {
	height: 24px;
	margin: 0 auto;
	padding: 0 20px;
    font-size: 14px;
}

#footer p {
	margin: 0;
	padding: 25px 0 0 0;
	text-align: center;
}

#footer a {
}

#footer .link {
	float: right;
}

#footer .copyright {
	float: left;
}

.homeText {
	line-height: 175%;
}

.homeMenu {
	width:200px;
	float:left;
	margin-right:10px
}

.themeMenu {
    overflow: auto;
    height:300px;
    width:200px;
}

.dp-xml {
    width:1000px;
}

.ui-themeswitcher a.ui-selectonemenu-label-container {
    text-decoration: none !important;
}

.ui-widget {
    font-size: 12px !important;
}


/* 上面都是Primefaces自身的CSS样式,做了稍微的修改,下面是我自己添加的一些CSS样式 */
.style1 {
	border: 1px solid #dcdddf;
	width: 99.9%;
}

.column1 {
	text-align: right;
	width: 70px;
}

.column2 {
	text-align: left;
}

.panel1 {
	position: absolute;
	width: 99.3%;
	overflow: auto;
	/* border-width:0px; */
}

/*dataTable的行样式,
写法:rowStyleClass="#{index mod 2 == 1 ? 'lazy_datatable_row' : 'lazy_datatable_row2'}"
*/
/* .lazy_datatable_row {
	background: #DEEDF7;
	height: 18px;
}
.lazy_datatable_row2 {
	height: 18px;
} */
.bottom {
	position: absolute;
	left: 0px;
	bottom: 0px;
	right: 0px;
	height: 23px;
}
#down {
	width: 100%;
	height: 23px;
}

#down_left {
	float: left;
	margin-left: 20px;
	margin-top: 5px;
}
#down_right {
	float: right;
	margin-right: 10px;
	margin-top: 5px;
}

#down_right_time {
	float: left;
}

#down_right_timer {
	float: right;
	font-weight: bold;
}
.main {
	position: absolute;
	left: 2px;
	top: 105px;
	bottom: 25px;
	right: 0px;
	overflow: auto; 
}
.main iframe {
	width: 100%;
	height: 100%;
}
.top {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	height: 55px;
}
.topBtnNoRoundness{
	border-radius: 0px 0px 0px 0px;
}